<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dragon of Mugloar</title>

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/dataTables.bootstrap5.min.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap-icons.css}">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div th:replace="fragments/navbar"></div>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10">
            <div class="card card-custom p-4">
                <div class="card-body">
                    <h1 class="display-4 text-center mb-4">Welcome to the Dragon of Mugloar Game!</h1>
                    <p class="lead text-center">Embark on a quest to maximize your score by solving messages and
                        purchasing valuable items.</p>
                    <div class="d-flex justify-content-center">
                        <button class="btn btn-primary btn-lg btn-custom" id="startGameBtn">Start New Game</button>
                    </div>

                    <div class="mt-4" id="gameStatusContainer">
                        <div class="alert alert-info" id="gameStatus" role="alert">
                            <span id="statusMessage"></span>
                            <div class="spinner-border text-primary" id="statusSpinner" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/dataTables.min.js}"></script>
<script th:src="@{/js/dataTables.bootstrap5.min.js}"></script>
<script th:src="@{/js/sockjs.min.js}"></script>
<script th:src="@{/js/stomp.min.js}"></script>
<script th:src="@{/js/scripts-index.js}"></script>

</body>
</html>